:root {
  --secondary-background-color: #F5F5F5;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196F3;
  --text-light-color: #fff;
}
body {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: var(--text-color)
}
li {
  list-style: none;
}
/* INDEX.HTML */
/* HEADER */
/* Logo */

.logo-header, 
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}    
.logo-first-part {
  color: var(--accent-color);
}
.logo-header {
  color: #000;
}
.logo-footer {
  background-color: #2F303A;
  color: var(--text-light-color);
}
/* Navigation */

.nav {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color);
}
.current {
  color: var(--accent-color)
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
/* Contacts */

.contact {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color)
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);

} 
/* MAIN */
/* Hero section */

.hero-title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #2F303A;
  color: var(--text-light-color);
}
.hero-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--text-light-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--text-light-color);
  color: var(--accent-color);
}
/* Features */

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/* Team */

.team-title,
.occupation-title,
.features {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
.team-mate {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--title-color);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
/* FOOTER */

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
  background-color: #2F303A;
}
.address-location {
  text-decoration: none;
  color: var(--text-light-color);
}
.address-contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address-location:hover,
.address-location:focus,
.address-contacts:hover, 
.address-contacts:focus {
  color: var(--accent-color);
}
/* PORTFOLIO */
/* Filter */

.filter-btn {
  cursor: pointer;
  font-family: inherit;
  background-color: #F5F4FA;
  color: var(--title-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--text-light-color);
}
/* Projects*/

.page-title,
.filter,
.projects {
  color: var(--title-color);
}
.project-card {
  text-decoration: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
} 

/* .team {}
.nav:active {}
.occupation {}
.occupation-title {}
.address {}
.primary-btn {}
.secondary-btn {} 
.features {} */