/* .root {
  background-color: #F5F5F5;
  color: #212121;
  color: #757575;
  color: #2196F3;
}

/* INDEX Studio */
/* .accent-color { 
  background-color: #2196F3}*/

  /* Normal font for page */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;


}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000;
}
.logo-first-part {
  color: #2196f3;
}
footer>.logo {
  background-color: #0f0;
  color: #FFFFFF;
}
.nav {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.nav:hover,
.nav:focus {
  color: #2196f3;
}
.nav:active {

}

.address-header {
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.address-header:hover,
.address-header:focus {
  color: #2196f3;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
background-color: #0f0;
color: #FFFFFF;
}
.hero-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 2;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: #2196f3;
color: #FFFFFF;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #FFFFFF;
  color: #2196f3;}
.features {

}

.feature-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.feature-text {
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}
.team-mate {
font-weight: 500;
font-size: 16px;
line-height: 1.9;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.profession {
font-weight: 400;
font-size: 16px;
line-height: 1.9;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.team-title,
.occupation-title,
.features {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/* 

.occupation {}
.occupation-title {}
.team {}



.address {}
.primary-btn {}
.secondary-btn {} */
/* PORTFOLIO */
/* .projects {}
.project-title {}
.project-text {} */

.filter-btn {
  background-color: #F5F4FA;
  color: #212121;
}

li {
  list-style: none;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.address {
font-weight: 400;
font-size: 14px;
line-height: 1.7;
font-style: normal;
text-decoration: none;
background-color: #0f0;
}
.address-location {
  text-decoration: none;
  color: #FFFFFF;
  
}
.address-contacts {
  text-decoration: none;
color: rgba(255, 255, 255, 0.6);
}


