html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --secondary-background-color: #f5f5f5;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --text-light-color: #fff;
  --button-color: #f5f4fa;
  --darkest-color: #000000;
  --dark-background-color: #2f303a;
}
body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  letter-spacing: 0.03em;
  background-color: var(--text-light-color);
  color: var(--text-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* li {
  list-style: none;
} */
.link {
  display: inline-block;
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  border: 1px solid transparent;
}
/*===================INDEX.HTML ===================*/
/*=================== HEADER ===================*/
/*=================== Logo ===================*/
.page-header {

}

.logo-header,
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-header {
  color: var(--darkest-color);
}
.logo-footer {
  background-color: var(--dark-background-color);
  color: var(--text-light-color);
}
/*=================== Navigation ===================*/

.nav {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color);
}
.current {
  color: var(--accent-color);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
/* Contacts */

.contact {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
/* MAIN */
/* Hero section */

.hero-section {
  text-align: center;
  background-color: var(--dark-background-color);
}

.hero-title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-light-color);
}
.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--text-light-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--text-light-color);
  background-color: var(--accent-hover-color);
  cursor: pointer;
}

/* Features */

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.feature-text {
  font-size: 14px;
  line-height: 1.7;
}
/* Team */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0000);
  clip-path: inset(50%);
  margin: -1px;
}
.team {
  background-color: #f5f4fa;
}
.team-mate-card {
  background-color: var(--text-light-color);
}
.team-mate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--title-color);
}
.profession {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
/* FOOTER */

.footer {
  background-color: #2f303a;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  background-color: #2f303a;
}
.address-location {
  text-decoration: none;
  color: var(--text-light-color);
}
.address-contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address-location:hover,
.address-location:focus,
.address-contacts:hover,
.address-contacts:focus {
  color: var(--accent-color);
}
/* PORTFOLIO */
/* Filter */

.page-title {
  color: var(--title-color);
}
.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: #f5f4fa;
  min-width: 73px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-color);
  color: var(--title-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--text-light-color);
  cursor: pointer;
}
/* Projects*/

.project-card {
  text-decoration: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}

/* .team {}
.nav:active {}
.occupation {}
.occupation-title {}
.address {}
.primary-btn {}
.secondary-btn {} 
.features {} */
